body{
    font-family: 'Montserrat', sans-serif;
    color: #212121;
}

.box{
    width: 924px;
    height: 378px;
    background-image: url(../img/Illustration.png); 
    background-repeat:no-repeat;
    background-color: #E6F0FF;
    background-position: right 76px; 
    border-radius: 12px;
   
}

.button {
    background-color: #0D6EFD; 
    width: 114px;
    height: 64px;
    border-radius: 32px;
    justify-content: center;
    color: #E6F0FF;
    border: none;
    margin-top: 20px;
}

.paragraf{
   padding-left: 64px;
   padding-top: 68px;
   padding-bottom: 92px;
   height: 218px;
   gap: 4px;
}